[submodule "verl"]
	path = verl
	url = https://github.com/rocm/verl
[submodule "stanford-megatron-lm"]
	path = stanford-megatron-lm
	url = https://github.com/ROCm/Stanford-Megatron-LM
[submodule "megablocks"]
	path = megablocks
	url = https://github.com/ROCm/megablocks
[submodule "ray"]
	path = ray
	url = https://github.com/ROCm/ray
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ROCm/llama.cpp
[submodule "flashinfer"]
	path = flashinfer
	url = https://github.com/ROCm/flashinfer